h2, p, span {
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 24px;
    height: 100%;
}

.image {
    width: 350px;
    height: 600px;
    object-fit: cover;
}

.item-wrapper {
    display: flex;
    height: 150px;
    width: 318px;
    background-color: #F28C28;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 16px;
}

.title {
    color: white;
    margin-bottom: 10px;
}


.text {
    display: flex;

    margin-bottom: 30px;
}


.discription {
    font-weight: 500;
}

.login{
    display: flex;
    flex-direction: column;
    width:400px;
    background-color: white;
    margin-top: -40px;
    padding: 30px;
}

.input-style{
    height: 40px;
    border-bottom: 2px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-bottom: 20px;
    outline: none;
}

.input-style:hover{
    border-bottom: 2px solid #F28C28;

}

.btn-styles{
    width: 150px;
    background-color: black;
    color: white;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
}